@charset "utf-8";
/* ----------------------------------------------
 *  製品アイデア投稿広場
 ---------------------------------------------- */

.ideas div.evaluate {
	overflow: hidden;
}
.ideas div.evaluate p { margin:0 5px 0 0; float:left; }
.ideas div.evaluate p.comment {
	margin:0 10px 0 0;
	width:120px;
}

.ideas span.star {
	margin:3px 0 0 0;
	width:60px;
	height:12px;
	background:url(../gmo/images/evaluate_star.gif) no-repeat 0 0;
	display: inline-block;
}
.ideas span.star.star0 { background-position:-58px 0px; }
.ideas span.star.star1 { background-position:-46px 0px; }
.ideas span.star.star2 { background-position:-36px 0px; }
.ideas span.star.star3 { background-position:-24px 0px; }
.ideas span.star.star4 { background-position:-12px 0px; }
.ideas span.star.star5 { background-position: 0px 0px; }

