@charset "utf-8";
/* ----------------------------------------------
 *  懸賞金付き募集コンテンツ
 ---------------------------------------------- */

#work .wrap.celebrate table .td-date { width:100px;}
#work .wrap.celebrate table .td-title { width:444px;}
#work .wrap.celebrate table .td-deadline { width:100px;}
#work .wrap.celebrate table .td-posts { width:80px;}

#work .wrap.celebrate table .td-mon { width:230px;}
#work .wrap.celebrate table .td-ded { width:230px;}
#work .wrap.celebrate table .td-pos { width:230px;}
