@charset "utf-8";
/* ----------------------------------------------
 *  みんなのアンケートBOX
 ---------------------------------------------- */

#work .enquete table .td-date { width: 110px; }
#work .enquete table .td-state { 
	width: 60px;
	text-align: center; 
}
#work .enquete table .td-state span {
	padding: 4px 10px; 
}