@charset "utf-8";
/* ----------------------------------------------
 *  リアルタイム社内報告
 ---------------------------------------------- */



.report .detailTtl .ico {
	display: inline-block;
	float: left;
}

.report .index table td.td-date {
	width: 100px;
}

.report .detail .counter {
	text-align: right;
}
