@charset "utf-8";
/* CSS Document */

/* =======================================
	work - toppage
======================================= */

/*  common 
----------------------------------------------------------------------------------*/

/*////////// h2 //////////*/

.work .ttl h2 {
	margin:0;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}

/*//////////  box //////////*/

.work .sideL .box, .work .cntC .box {
	margin:0 0 20px 0;
	background:#FFF;
	overflow:hidden;
	position:relative;
}
.work .sideR .box {
	margin:0 0 20px 0;
	overflow:hidden;
	position:relative;
}

.work .cntC .box .descriptionTxt {
	margin:10px 10px 8px 10px;
	padding:10px;
	background:#F7CFCF;
	border-radius: 7px;        /* CSS3草案 */  
    -webkit-border-radius: 7px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 7px;   /* Firefox用 */ 
	font-size:11px;
}

/*//////////  button //////////*/

.work .sideL .miniBtn { top:20px;	right:58px;}
.work .cntC .miniBtn { top:12px;	right:10px;}

.hideBtn { display:none;}


/*////////////////////////////////////////////////////////////////////////////////*/

/*  sideL 
----------------------------------------------------------------------------------*/

.work .sideL {
	margin:0 25px 0 0;
	width:350px;
	float:left;
}

/*--- お客様クレーム / トラブル＆不正情報 ---*/
.work .sideL .claim p,
.work .sideL .trouble p {
	margin:0 auto 8px auto;
	width:330px;
	font-weight:bold;
}



/*////////// title //////////*/


.work .sideL .box.topics .ttl /*--- 更新情報 ---*/ { background-position:0 0;}
.work .sideL .box.soumu .ttl /*--- 総務からのお知らせ ---*/ { margin-bottom:0; background-position:0 -45px;}
.work .sideL .box.newproduct .ttl /*--- 新商品情報 ---*/ { background-position:0 -90px;}
.work .sideL .box.inspection .ttl /*--- 機種総評＆検証 ---*/ { background-position:0 -135px;}
.work .sideL .box.claim .ttl /*--- お客様クレーム ---*/ { background-position:0 -180px;}
.work .sideL .box.trouble .ttl /*--- トラブル＆不正情報 ---*/ { background-position:0 -225px;}
.work .sideL .box.rival .ttl /*--- 競合情報 ---*/ { background-position:0 -270px;}


/*////////// list //////////*/

.work .sideL .box ul { margin:0 auto 8px auto; width:330px;}
.work .sideL .box ul li {
	margin:0 0 5px 0;
}
.work .sideL .box ul li span,
.work .sideL .box dl dd span {
	margin:0 5px 0 0;
	width:64px;
	font-weight:bold;
}

/*--- 総務からのお知らせ ---*/
.work .sideL .box.orange div.box { margin:10px 10px 0 10px;}
.work .sideL .box.orange dl { margin:0;}
.work .sideL .box.orange dl dt {
	padding:3px;
	background:#FFDBA6;
	color:#CB0210;
	font-weight:bold;
	text-align:center;
}
.work .sideL .box.orange dl dt.gray {
	padding:0 6px;
	background:#E3E3E3;
	color:#333;
	font-size:11px;
	font-weight:bold;
	text-align:left;
}

.work .sideL .box.orange dl dd {
	margin:0;
	padding:7px;
	border-top:1px #CB0210 dashed;
}
.work .sideL .box.orange dl dt:first-child+dd { border-top:none;}
.work .sideL .box.orange dl dd p.area { font-weight:bold;}




.work .sideL .box.column2 ul /*--- 新商品情報 ---*/ {
	margin:0 13px 8px 10px;
	width:217px;
	float:left;
}
.work .sideL .box.column2 img /*--- 新商品情報 ---*/ {
	margin-right:10px;
	width:100px;
	float:right;
}

/*////////// icon //////////*/

/*--- 機種総評＆検証 アイコン ---*/
.work .sideL .box ul a.word, .work .sideL .box ul a.pdf,
.work .sideL .box ul a.excel, .work .sideL .box ul a.ppt,
.work .sideL .box ul a.zip {
	margin-right:10px;
	padding:2px 0 0 25px;
	height:16px;
}
.work .sideL .box ul a.word { background:url(../../common/img/ico_word.gif) no-repeat;}
.work .sideL .box ul a.pdf { background:url(../../common/img/ico_pdf.gif) no-repeat;}
.work .sideL .box ul a.excel { background:url(../../common/img/ico_excel.gif) no-repeat;}
.work .sideL .box ul a.ppt { background:url(../../common/img/ico_ppt.gif) no-repeat;}
.work .sideL .box ul a.zip { background:url(../../common/img/ico_zip.gif) no-repeat;}

/*////////// button //////////*/

/*--- 一覧を見るボタン ---*/
.work .sideL .box .listBtn {
	margin:0 auto;
	padding:10px 0;
	width:330px;
	border-top:1px #CCC dashed;
	overflow:hidden;
}

/*--- 一覧を見るボタン ---*/
.work .sideL .box.twitter .listBtn,
.work .sideL .box.blog .listBtn {
	margin:0 auto;
	padding:0;
	width:330px;
	border:0;
	overflow:hidden;
}


/*////////// box //////////*/

/*--- Twitterキャッチ / ブログキャッチ ---*/

.work .sideL .box.twitter,
.work .sideL .box.blog {
	background: none repeat scroll 0 0 #FFF;
	border:5px #FF9900 solid;
    border-radius: 7px 7px 7px 7px;
    font-size:12px;
    padding:10px;
}



.work .sideL .box.twitter ul,
.work .sideL .box.blog ul {
	margin:0;
	padding-top:7px;
	width:320px;
	border-top:1px #FF9900 dashed;
}
.work .sideL .box.twitter li,
.work .sideL .box.blog li {
	margin-bottom:10px;
	width:320px;
	border-bottom:1px #FF9900 dashed;
}


/*--- Twitterキャッチ list ---*/
.work .sideL .box.twitter li:last-child {	padding:0;}
.work .sideL .box.twitter li span { width:320px; display:block; clear:both;}
.work .sideL .box.twitter li p { margin:0 0 10px 0;}

/*--- ブログキャッチ list ---*/
.work .sideL .box.blog li p { margin:0 0 10px 0;}


/*--- Newgin square 管理メニュー / 各サービスへのリンク ---*/
.work .sideL .box.portalMenu {
	background:#FFF;
	border:2px #666 solid;
}
.work .sideL .box.portalMenu h2 {
	margin:0 0 10px 0;
	padding:10px 15px;
	height:15px;
	background:#666;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.work .sideL .box.portalMenu ul {}
.work .sideL .box.portalMenu li {
	margin:0 0 10px 0;
	padding:0 0 0 13px;
	background:url(../../common/img/ico_arrow_small.png) no-repeat 0 3px;
	line-height:1.4em;
}
.work .sideL .box.portalMenu ul.serviceLink li { margin-right:10px; width:140px; float:left;}
.work .sideL .box.portalMenu ul.serviceLink li:last-child { margin-right:0;}

.work .sideL .box.portalMenu ul.serviceLink li a { text-decoration:underline;}


/*////////////////////////////////////////////////////////////////////////////////*/


/*  centerBox
----------------------------------------------------------------------------------*/

.work .cntC {
	margin:0 25px 0 0;
	width:384px;
	float:left;
}



.work .msgBox h3 {
	margin-top:0;
	margin-bottom:5px;
	color:#D70112;
	font-size:14px;
	font-weight:bold;
}


/*////////// button //////////*/

/*--- 社長メッセージ ---*/
.work .msgBox .listBtn {
	margin:14px 0 0 0;
	overflow:hidden;
}

/*////////// title //////////*/




/*////////// list //////////*/

.work .cntC .box ul {
	margin:0 10px;
	width:364px;
}
.work .cntC .box ul li {
	margin:0 0 3px 0;
	padding:5px 0;
	border-bottom:1px #CCC dashed;
	overflow:hidden;
}
.work .cntC .box ul li span {
	margin:0 7px 0 0;
	font-weight:bold;
}
.work .cntC .box ul p.count {
	width:85px;
	float:right;
}

/*--- 全社指標 ---*/

.work .cntC .box.shihyou span {
	margin:10px auto;
	width:364px;
	display:block;
}

/*--- 経営陣(役員)との意見交換箱 list ---*/
.work .cntC .box.management ul li span {
	margin:0 5px 0 0;
	width:64px;
	font-weight:bold;
}

/*--- 拠点＆メンバー紹介 ---*/
.work .cntC .box.base-news .box {
	margin:0 10px 10px 10px;
}
.work .cntC .box.base-news h3 {
	margin:5px 0 10px 0;
	padding:0 0 5px 0;
	border-bottom:1px #999 dashed;
	font-size:12px;
	font-weight:bold;
}
.work .cntC .box.base-news .gray {
	margin-bottom:10px;
	padding:15px 0 15px 15px;
	background:#E3E3E3;
}
.work .cntC .box.base-news .gray h4 {
	margin:0 15px 0 0;
	color:#CA0010;
	font-size:12px;
	font-weight:bold;
}
.work .cntC .box.base-news ul {
	margin:10px 0 0 0;
	width:349px;
	overflow:hidden;
}
.work .cntC .box.base-news ul li { border:none;}
.work .cntC .box.base-news ul li img {
	margin-right:15px;
	float:left;
}


.work .cntC .box.base-news .mapBox h5,
.work .cntC .box.base-news .mapBox p {
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}
.work .cntC .box.base-news .mapBox img {
	position:absolute;
	top:10px;
	right:10px;
}
.work .cntC .box.base-news .mapBox img:hover {
	opacity:0.6;
	filter: alpha(opacity=60);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=60)";  /* ie 8 */
	-moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.6;              /* Safari 1.x */
}


/*--- リアルタイム社内報告 list ---*/
.work .cntC .box.realtime ul li div { float:left;}
.work .cntC .box.realtime ul li div.ico {
	margin:0 10px 0 0;
	width:36px;
	height:27px;
	background:url(../img/ico_realtime.gif) no-repeat;
	color:#FFF;
	display:block;
	font-size:0;
	text-indent:-9999px;
}
.work .cntC .box.realtime ul li div.ico.help { background-position:0 0;}
.work .cntC .box.realtime ul li div.ico.eigyou { background-position:0 -27px;}
.work .cntC .box.realtime ul li div.ico.uwasa { background-position:0 -54px;}
.work .cntC .box.realtime ul li div.ico.seizou { background-position:0 -81px;}
.work .cntC .box.realtime ul li div.ico.gyousei { background-position:0 -108px;}
.work .cntC .box.realtime ul li div.ico.hall { background-position:0 -135px;}
.work .cntC .box.realtime ul li div.ico.kaihatsu { background-position:0 -162px;}
.work .cntC .box.realtime ul li div.ico.kyougou { background-position:0 -189px;}
.work .cntC .box.realtime ul li div.ico.other { background-position:0 -216px;}

.work .cntC .box.realtime ul li div p { margin:5px 0 0 0;}

/*--- みんなのアンケートBOX list ---*/
.work .cntC .box.question ul li div,
.work .cntC .box.question ul li p { float:left;}



/*--- 製品アイデア投稿広場 list ---*/
.work .cntC .box.idea ul { margin:0 0 8px 10px;}
.work .cntC .box.idea ul li {
	width:100%;
	margin:0 0 5px 0;
	float:left;
}
.work .cntC .box.idea ul li p a.threadName {
	display:block;
}
.work .cntC .box.idea ul li div { margin-left:73px;}
.work .cntC .box.idea ul li div p { margin:0 5px 0 0; float:left;}
.work .cntC .box.idea ul li div p.comment {
	margin:0 10px 0 0;
	width:120px;
}
.work .cntC .box.idea ul li p.star {
	margin:3px 0 0 0;
	width:60px;
	height:12px;
	background:url(../../common/img/evaluate_star.gif) no-repeat 0 0;
	background-position:-23px 0px;
}

 /*--- ニューギン目安箱・掲示板 list ---*/
.work .cntC .box.suggestion ul li a {
	margin:0 10px 0 0;
}

/*--- 懸賞金付き募集コンテンツ list ---*/
.work .cntC .box.prize ul li div { margin-top:3px; margin-left:73px;}
.work .cntC .box.prize ul li div p.comment {
	margin:0 10px 0 0;
	float:left;
}


/*////////// button //////////*/

/*--- 一覧を見るボタン ---*/
.work .cntC .box .listBtn {
	margin:0 auto;
	padding:5px 0 10px 0;
	width:364px;
	overflow:hidden;
}

/*////////////////////////////////////////////////////////////////////////////////*/

/*  sideR
----------------------------------------------------------------------------------*/

.work .sideR {
	width:186px;
	float:left;
}

/*////////// title //////////*/

.work .sideR .box .ttl {
	margin:0;
	width:186x;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}







/*////////// icon //////////*/

/*--- 機種総評＆検証 アイコン ---*/
.work .sideR .box ul a.word, .work .sideR .box ul a.pdf,
.work .sideR .box ul a.excel, .work .sideR .box ul a.ppt,
.work .sideR .box ul a.zip {
	margin-right:10px;
	padding:2px 0 0 25px;
	height:16px;
}
.work .sideR .box ul a.word { background:url(../../common/img/ico_word.gif) no-repeat;}
.work .sideR .box ul a.pdf { background:url(../../common/img/ico_pdf.gif) no-repeat;}
.work .sideR .box ul a.excel { background:url(../../common/img/ico_excel.gif) no-repeat;}
.work .sideR .box ul a.ppt { background:url(../../common/img/ico_ppt.gif) no-repeat;}
.work .sideR .box ul a.zip { background:url(../../common/img/ico_zip.gif) no-repeat;}


/*////////// button //////////*/

 /*--- 一覧を見るボタン ---*/
.work .sideR .box .listBtn {
	margin:0 auto;
	padding:10px;
	width:162px;
	border-top:1px #CB0210 dashed;
	overflow:hidden;
}

/*////////// list //////////*/

/*--- dl orenge ---*/
.work .sideR .box.orange dl { margin:0;}
.work .sideR .box.orange dl dt {
	padding:3px;
	background:#FFDBA6;
	color:#CB0210;
	font-weight:bold;
	text-align:center;
}
.work .sideR .box.orange dl dt.gray {
	padding:0 6px;
	background:#E3E3E3;
	color:#333;
	font-size:11px;
	font-weight:bold;
	text-align:left;
}

.work .sideR .box.orange dl dd {
	margin:0;
	padding:7px;
	border-top:1px #CB0210 dashed;
}
.work .sideR .box.orange dl dt:first-child+dd { border-top:none;}
.work .sideR .box.orange dl dd p.area { font-weight:bold;}

/*--- dl pink ---*/
.work .sideR .box.pink dl { margin:0;}
.work .sideR .box.pink dl dt {
	padding:3px;
	background:#F8CFCF;
	color:#CB0210;
	font-weight:bold;
	text-align:center;
}
.work .sideR .box.pink dl dt.gray {
	padding:0 6px;
	background:#E3E3E3;
	color:#333;
	font-size:11px;
	font-weight:bold;
	text-align:left;
}
.work .sideR .box.pink dl dd {
	margin:0;
	padding:7px 7px 5px 7px;
	border-top:1px #CB0210 dashed;
}
.work .sideR .box.pink dl dt:first-child+dd { border-top:none; font-weight:normal;}


/*--- 共有事項 list ---*/
.work .sideR .box.kyouyuu div {
	background:#FFF;
	border:2px #666 solid;
}
.work .sideR .box.kyouyuu span {
	margin-bottom:5px;
	display:block;
	font-weight:bold;
}
.work .sideR .box.kyouyuu ul li {
	padding:7px 10px;
	border-top:1px #CB0210 dashed;
}
.work .sideR .box.kyouyuu ul li:first-child { border-top:none;}

/*--- 今日の社員ピックアップ list ---*/
.work .sideR .box.pickup li {
	margin:5px 0;
	overflow:hidden;
}
.work .sideR .box.pickup li div.face {
	margin:0 10px 0 0;
	width:70px;
	background:#FFF;
	border:1px #CCC solid;
	text-align:center;
	float:left;
}
.work .sideR .box.pickup li .subttl {
	margin:5px 0;
	padding:0 0 5px 0;
	border-bottom:1px #999 dashed;
	font-size:12px;
	font-weight:bold;
}

/*--- ランキング list ---*/
.work .sideR .box.ranking div {
	background:#FFF;
	border:2px #CB0210 solid;
}
.work .sideR .box.ranking dl dd { font-weight:bold; overflow:hidden;}
.work .sideR .box.ranking dl dd ul { margin:auto 5px auto 0; list-style-type:decimal;}
.work .sideR .box.ranking dl dd ul li { margin-bottom:5px; overflow:hidden;}
.work .sideR .box.ranking dl dd ul li span { display:block; line-height:1.2;}
.work .sideR .box.ranking dl dd ul li span.number { width:20px; float:left;}
.work .sideR .box.ranking dl dd ul li p.text { width:140px; float:left;}

/* 総務からのお知らせ：その他用 */
.work .sideL .box dl dd span.soumu_news-inportant {
	width: auto;
}

.work .sideR .box.map a {
	width:186px;
	height:164px;
	display:block;
}

/*--- 人事からのお知らせ list ---*/
.work .sideR .box.jinji div {
	background:#FFF;
	border:2px #666 solid;
}


/*--- 教えて総務さん！FAQ list ---*/
.work .sideR .box.faq ul { margin:5px 0;}
.work .sideR .box.faq li {
	padding:0 10px 10px 13px;
	background:url(../../common/img/ico_arrow_small.png) no-repeat 0 5px;
	line-height:1.4em;
}
/*--- baodt rating start p index work ---*/
p.star.star0 { background-position:-58px 0px !important;}
p.star.star1 { background-position:-46px 0px !important; }
p.star.star2 { background-position:-36px 0px !important; }
p.star.star3 { background-position:-24px 0px !important; }
p.star.star4 { background-position:-12px 0px !important; }
p.star.star5 { background-position: 0px 0px !important; } 

/*////////////////////////////////////////////////////////////////////////////////*/