@charset "utf-8";
/* ----------------------------------------------
 *  リンク集
 ---------------------------------------------- */

#play .link .index table.list .item .title {
	font-size: 14px;
}
#play .link .index table.list .item .comment {
	font-size: 10px;
	color: #999999;
}
#play .link .index .category_name {
	font-weight: bold ;
	border-left: 10px solid #E60213;
	padding-left: 10px;
}
#play .link .index .category-navi {
	position: relative;
	left: 300px;
	width: 400px;
	margin-bottom: 8px;
	margin-top: -6px;
}
