@charset "utf-8";
/* CSS Document */

/* =======================================
	play - toppage
======================================= */


/*  common 
----------------------------------------------------------------------------------*/

/*////////// h2 //////////*/

.play .ttl h2,
.play h2.ttl {
	margin:0;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}

/*////////// h2 //////////*/

.play .box h3 { margin:0;}

/*//////////  box //////////*/

.play .sideL .box, .play .sideR .box {
	margin:0 0 20px 0;
	background:#FFF;
	overflow:hidden;
	position:relative;
}

/*//////////  button //////////*/

.play .sideL .miniBtn { top:20px;	right:58px;}
.play .sideR .miniBtn { top:0;	right:10px;}

.hideBtn { display:none;}


/*////////////////////////////////////////////////////////////////////////////////*/

/*  sideL 
----------------------------------------------------------------------------------*/

.play .sideL {
	margin:0 25px 0 0;
	width:186px;
	float:left;
}


/*////////// title //////////*/


.play .sideL .box.news .ttl /*--- 更新情報 ---*/ { background-position:0 0;}
.play .sideL .box.celebration .ttl /*--- お祝い報告 ---*/ { background-position:0 -31px;}
.play .sideL .box.thanks .ttl /*--- 今月のありがとう ---*/ { background-position:0 -62px;}


/*////////// .news //////////*/

.play .sideL .box.news {
	background:#FFF;
	border:2px #CB0210 solid;
}
.play .sideL .box.news li {
	margin:0;
	padding:7px;
	border-bottom:1px #CB0210 dashed;
}


/*////////// .celebration //////////*/

.play .sideL .box.celebration {
	background:#FFF;
	border:2px #CB0210 solid;
}

.play .sideL .box.celebration ul { overflow:hidden;}
.play .sideL .box.celebration li.listImg {
	margin-right:10px;
	width:70px;
	float:left;
}
.play .sideL .box.celebration li.listPerson { float:left;}


/*////////// .thanks //////////*/

.play .sideL .box.thanks {
	background:#FFF;
	border:2px #FF6600 solid;
}

.play .sideL .box.thanks ul { 	margin:0; padding:7px 7px 5px 7px; overflow:hidden;}
.play .sideL .box.thanks li.listImg {
	margin:0 10px 5px 0;
	width:70px;
	height:52px;
	float:left;
}
.play .sideL .box.thanks li.listPerson { width:80px; float:left;}
.play .sideL .box.thanks li.listTxt {
	margin:0 0 5px 0;
	padding-bottom:5px;
	width:170px;
	border-bottom:1px #CCC dotted;
	clear:both;
}

/*--- dl pink ---*/
.play .sideL .box.pink dl { margin:0;}
.play .sideL .box.pink dl dt {
	padding:3px;
	background:#F8CFCF;
	color:#CB0210;
	font-weight:bold;
	text-align:center;
}
.play .sideL .box.pink dl dd {
	margin:0;
	padding:7px 7px 5px 7px;
	border-top:1px #CB0210 dashed;
}
.play .sideL .box.pink dl dt:first-child+dd { border-top:none; font-weight:normal;}


/*////////// .banner //////////*/

.play .sideL .box.banner { background-color:transparent;}
.play .sideL .box.banner li {
	margin-bottom:10px;
	width:186px;
	height:55px;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}

.play .sideL .box.banner li a.mot /*--- 今日の名言 ---*/ { background-position:0 0;}
.play .sideL .box.banner li a.what_day /*--- 今日は何の日 ---*/ { background-position:0 -55px;}
.play .sideL .box.banner li a.skill /*--- 資格取得・スキルアップ ---*/ { background-position:0 -110px;}
.play .sideL .box.banner li a.link /*--- リンク集 ---*/ { background-position:0 -165px;}


/*////////// button //////////*/

/*--- 一覧を見るボタン ---*/
.play .sideL .box .listBtn {
	margin:0 auto;
	padding:10px 0;
	border-top:1px #CCC dashed;
	overflow:hidden;
}
/*--- さらに見るボタン ---*/
.play .sideL .box .moreBtn {
	margin:0 auto;
	padding:10px 0;
	width:166px;
	overflow:hidden;
}

.play .sideR .box .ttl .middleBtn {
	position:absolute;
	top:0;
	right:80px;
}


/*////////////////////////////////////////////////////////////////////////////////*/

/*  sideR
----------------------------------------------------------------------------------*/

.play .sideR {
	width:759px;
	float:left;
}

.play .sideR .cntBox { margin:10px;}


/*////////// title //////////*/

.play .sideR .box .ttl {
	margin:0;
	width:759x;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}


/*////////// .newranking //////////*/

/*--- 最新ランキング ---*/ 

.play .sideR .box.newranking.top h2 {
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:0;
	left:0;
}
.play .sideR .box.newranking.top ul.rankingMenu {
	width:279px;
	height:19px;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:56px;
	right:40px;
}
.play .sideR .box.newranking.top ul.rankingMenu li { float:left;}


.play .sideR .box.newranking.top ul.rankingMenu li.anime a:hover,
.play .sideR .box.newranking.top ul.rankingMenu li.anime a.active { background-position:0 -19px;}
.play .sideR .box.newranking.top ul.rankingMenu li.comic a:hover,
.play .sideR .box.newranking.top ul.rankingMenu li.comic a.active { background-position:-93px -19px;}
.play .sideR .box.newranking.top ul.rankingMenu li.bunko a:hover,
.play .sideR .box.newranking.top ul.rankingMenu li.bunko a.active { background-position:-186px -19px;}

.play .sideR .box.newranking.bottom {
	margin:0;
	padding:0;
    width:453px;
	background:url(../img/bg_box_newranking.jpg) bottom;
	height:1%;
    min-height:1%;
	overflow:hidden;
	clear:both;
}
.play .sideR .box.newranking.bottom .cntBox h3 {
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px #CA0010 solid;
	color:#CA0010;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.play .sideR .box.newranking.bottom ul {
	margin-top:10px;
	padding:7px 0 0 0;
	border-top:1px #CCC dashed;
}
.play .sideR .box.newranking.bottom ul:first-child { border-top:none;}

.play .sideR .box.newranking.bottom ul li.rank1,
.play .sideR .box.newranking.bottom ul li.rank2,
.play .sideR .box.newranking.bottom ul li.rank3 {
	margin:0 0 5px 0;
	padding-left:40px;
	overflow:hidden;
}


.play .sideR .box.newranking.bottom ul li p {
	margin-top:5px;
	font-size:14px;
	font-weight:bold;
}
.play .sideR .box.newranking.bottom ul li p a { color:#CA0010;}
.play .sideR .box.newranking.bottom ul li p a:hover { color:#FF6600;}



.play .sideR .box.fortune.top h2 {
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:0;
	left:0;
}


.play .sideR .box.fortune.bottom ul {
	padding-top:20px;
	height:95px;
	overflow:hidden;
}

.play .sideR .box.fortune.bottom .ohitusji ul { background:url(../img/star_ohitsuji.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .oushi ul { background:url(../img/star_oushi.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .futago ul { background:url(../img/star_futago.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .kani ul { background:url(../img/star_kani.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .shishi ul { background:url(../img/star_shishi.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .otome ul { background:url(../img/star_otome.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .tenbin ul { background:url(../img/star_tenbin.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .sasori ul { background:url(../img/star_sasori.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .ite ul { background:url(../img/star_ite.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .yagi ul { background:url(../img/star_yagi.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .mizugame ul { background:url(../img/star_mizugame.jpg) no-repeat;}
.play .sideR .box.fortune.bottom .uo ul { background:url(../img/star_uo.jpg) no-repeat;}

.play .sideR .box.fortune.bottom ul li { margin-top:10px; margin-left:120px;}
.play .sideR .box.fortune.bottom ul li span { font-size:14px; font-weight:bold;}


.play .sideR .box.fortune.bottom dl { margin:0 10px; overflow:hidden;}
.play .sideR .box.fortune.bottom dl dt { margin:8px 0 0 0; font-weight:bold; float:left;}
.play .sideR .box.fortune.bottom dl.pointList dd { margin-left:15px; width:190px; height:30px; margin-bottom:7px; float:left;}
.play .sideR .box.fortune.bottom dl.luckyList dd { margin-left:15px; width:125px; margin-top:5px; float:right;}
.play .sideR .box.fortune.bottom dl.luckyList dt { margin:5px 0 0 0; width:100px;}

.play .sideR .box.fortune.bottom dl dd.tortal { background:url(../img/ico_fortune_all.jpg) no-repeat;}
.play .sideR .box.fortune.bottom dl dd.love { background:url(../img/ico_fortune_love.jpg) no-repeat;}
.play .sideR .box.fortune.bottom dl dd.work { background:url(../img/ico_fortune_work.jpg) no-repeat;}
.play .sideR .box.fortune.bottom dl dd.economic { background:url(../img/ico_fortune_economic.jpg) no-repeat;}

.play .sideR .box.fortune.bottom dl dd.point0 { background-position:-200px 0;}
.play .sideR .box.fortune.bottom dl dd.point1 { background-position:-160px 0;}
.play .sideR .box.fortune.bottom dl dd.point2 { background-position:-120px 0;}
.play .sideR .box.fortune.bottom dl dd.point3 { background-position:-80px 0;}
.play .sideR .box.fortune.bottom dl dd.point4 { background-position:-40px 0;}
.play .sideR .box.fortune.bottom dl dd.point5 { background-position:0 0;}


/*////////// .pride //////////*/

/*--- あそびにマジメ！？あそび自慢＆対決！ ---*/

.play .sideR .box.pride { background-color:transparent;}

.play .sideR .box.pride.top {
	margin:0;
	padding:0;
	width:759px;
	height:1%;
	overflow:hidden;
}


.play .sideR .box.pride.top .ttl .miniBtn { top:15px; right:55px;}

.play .sideR .box.pride.top h2 {
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:0;
	left:0;
}
.play .sideR .box.pride.bottom {
	margin:0;
	padding:0;
	width:759px;
	background:url(../img/bg_box_main.jpg) bottom;
	height:1%;
    min-height:1%;
	overflow:hidden;
	clear:both;
}

.play .sideR .box.pride.bottom .cntBox { margin:5px 15px 0 15px;}
.play .sideR .box.pride.bottom .cntBox ul {
	margin:0;
    padding:10px 0 5px 0;
	width:100%;
	border-top:1px dashed #CCCCCC;
    overflow: hidden;
}
.play .sideR .box.pride.bottom .cntBox ul:first-child { border-top:none;}
.play .sideR .box.pride.bottom .cntBox ul li.ico { width:51px; margin:0 20px 0 10px; float:left;}
.play .sideR .box.pride.bottom .cntBox ul li.text { float:left;}

.play .sideR .box.pride.bottom .cntBox ul li.text p.evaluate { margin:0 0 3px 0;}
.play .sideR .box.pride.bottom .cntBox ul li.text p.evaluate .date {
	width:380px;
	display:block;
	float:left;
}
.play .sideR .box.pride.bottom .cntBox ul li.text p.evaluate .comment { }
.play .sideR .box.pride.bottom .cntBox ul li.text p.evaluate .rating { margin-right:5px;}
.play .sideR .box.pride.bottom .cntBox ul li.text p.evaluate .star {
	margin:3px 0 0 0;
	width:60px;
	height:12px;
	/*background:url(../../common/img/evaluate_star.gif) no-repeat 0 0;
	background-position:-23px 0px;*/
	display:block;
	float:right;
}


/*////////// .golf //////////*/

.play .sideR .box.golf.top .boxL { 
	margin-right:16px;
	width:418px;
	position:relative;
	float:left;
}
.play .sideR .box.golf.top .boxR {
	width:295px;
	overflow:hidden;
	float:left;
}


.play .sideR .box.golf.top h2 {
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:0;
	left:0;
}
.play .sideR .box.golf.bottom {
	margin:0;
	padding:0;
	width:759px;
	background:url(../img/bg_box_main.jpg) bottom;
	height:1%;
    min-height:1%;
	overflow:hidden;
	clear:both;
}

.play .sideR .box.golf.top .cntBox { margin:15px;}


/*--- ゴルフもマジメ - お知らせ・結果報告・参加募集 ---*/
.play .sideR .box.golf.top .ttl h3 {
	padding:3px 0 10px 0;
	border-bottom:1px #CA0010 solid;
	color:#CA0010;
	font-size:14px;
	font-weight:bold;
	text-indent:0;
}

.play .sideR .box.golf.top .boxL ul {
	margin:0;
    padding:10px 0;
	width:100%;
	border-bottom:1px dashed #CCCCCC;
    overflow: hidden;
}

.play .sideR .box.golf.top ul li.photo {
	margin-right:15px;
	width:70px;
	height:52px;
	float:left;
}
.play .sideR .box.golf.top ul li.text { float:left;}
.play .sideR .box.golf.top ul li.text .dateBox {
	margin:0 0 10px 0;
	overflow:hidden;
}
.play .sideR .box.golf.top ul li.text span.date { float:left;}


/*--- ゴルフもマジメ - 年間スコアランキング ---*/
.play .sideR .box.golf.top .scoreBox {
	padding:5px;
	width:283px;
	background:#F0F0F0;
	border:1px #CCC solid;
	overflow:hidden;
}
.play .sideR .scoreBox .box { margin-bottom:0;}


.play .sideR .scoreBox .box.score .cntBox { margin:10px;}

.play .sideR .scoreBox .box.score .ttl {
	margin-bottom:10px;
	padding-bottom:7px;
	border-bottom:1px #CA0010 solid;
	color:#CA0010;
	font-weight:bold;
	overflow:hidden;
}
.play .sideR .scoreBox .box.score .ttl h4 { width:190px; font-size:14px; font-weight:bold; text-indent:0; float:left;}
.play .sideR .scoreBox .box.score .ttl span.best {
	width:73px;
	display:block;
	font-size:10px;
	text-align:center;
	text-indent:0;
	float:left;
}

.play .sideR .scoreBox .box.score ul li.ranking {
	padding:10px 0 0 0;
	border-top:1px #CCC dashed;
}
.play .sideR .scoreBox .box.score ul li.ranking:first-child { padding-top:0; border-top:none;}

.play .sideR .scoreBox .box.score ul li.rank1,
.play .sideR .scoreBox .box.score ul li.rank2,
.play .sideR .scoreBox .box.score ul li.rank3,
.play .sideR .scoreBox .box.score ul li.rank4, .play .sideR .scoreBox .box.score ul li.rank5,
.play .sideR .scoreBox .box.score ul li.rank5, .play .sideR .scoreBox .box.score ul li.rank6,
.play .sideR .scoreBox .box.score ul li.rank7, .play .sideR .scoreBox .box.score ul li.rank8,
.play .sideR .scoreBox .box.score ul li.rank9, .play .sideR .scoreBox .box.score ul li.rank10{
	margin-bottom:5px;
	padding-left:35px;
	overflow:hidden;
}


.play .sideR .scoreBox .box.score li.text { width:170px; margin-right:10px; overflow:hidden; float:left;}
.play .sideR .scoreBox .box.score li.text span.date { margin-bottom:3px; display:block; overflow:hidden;}
.play .sideR .scoreBox .box.score li.text p.name { font-weight:bold; clear:both; overflow:hidden;}


.play .sideR .scoreBox .box.score ul li.ranking ul { overflow:hidden;}
.play .sideR .scoreBox .box.score ul li.ranking p.corse { margin-top:3px; font-size:11px;}



.play .sideR .scoreBox .box.score .miniBtn { top:auto; right:auto;}

/*--- ゴルフもマジメ - 都道府県別ゴルフ場検索 ---*/
.play .sideR .box.golf.top .searchBox {
	margin-top:20px;
	width:295px;
	overflow:hidden;
}
.play .sideR .searchBox .ttl {
	margin-bottom:10px;
	padding-bottom:7px;
	border-bottom:1px #CA0010 solid;
	color:#CA0010;
	overflow:hidden;
}
.play .sideR .box.golf.top .searchBox .ttl h4 { width:190px; font-size:14px; font-weight:bold; text-indent:0; float:left;}

.play .sideR .box.golf.top .searchBox .mapBox {
	margin:10px 0 20px 0;
    padding:0;
	color:#CA0010;
	font-size:10px;
	font-weight:bold;
}
.play .sideR .box.golf.top .searchBox .mapBox td.key {
	padding-right:3px;
	width:68px;
	line-height:1.4em;
	text-align:right;
	vertical-align:top;
}
.play .sideR .box.golf.top .searchBox .mapBox td.value { width:254px; line-height:1.4em;}


/*////////// .hobby //////////*/

/*--- 趣味・サークル広場 ---*/

.play .sideR .box.hobby { background-color:transparent;}


.play .sideR .box.hobby.top h2 {
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:0;
	left:0;
}

.play .sideR .box.hobby.top .ttl {  position:relative;}

.play .sideR .box.hobby.top .ttl h3 {
	padding:3px 0 10px 0;
	border-bottom:1px #CA0010 solid;
	color:#CA0010;
	font-size:14px;
	font-weight:bold;
	text-indent:0;
}
.play .sideR .box.hobby.bottom {
	margin:0;
	padding:0;
	width:759px;
	background:url(../img/bg_box_main.jpg) bottom;

	height:1%;
    min-height:1%;
	overflow:hidden;
	clear:both;
}
.play .sideR .box.hobby.bottom ul {
	margin:10px 0 15px 0;
	padding-bottom:5px;
	border-bottom:1px #CCC dashed;
}
.play .sideR .box.hobby.bottom ul li {
	margin-bottom:10px;
	overflow:hidden;
}
.play .sideR .box.hobby.bottom ul li span { margin-right:15px; float:left;}
.play .sideR .box.hobby.bottom ul li p { float:left;}

.play .sideR .box.hobby.bottom .cntBox { margin:15px; overflow:hidden;}

.play .sideR .box.hobby.bottom .detailBox { margin-left:-10px; overflow:hidden;}

.play .sideR .box.hobby.bottom p.detail { margin-top:15px; margin-left:10px; padding:10px; width:336px; border:1px #CCC solid; overflow:hidden; float:left;}
.play .sideR .box.hobby.bottom p.detail img { margin-right:10px; float:left;}
.play .sideR .box.hobby.bottom p.detail span {
	margin-bottom:2px;
	width:220px;
	color:#CA0010;
	font-weight:bold;
	display:block;
	float:left;
}

/*////////// button //////////*/

 /*--- 一覧を見るボタン ---*/
.play .sideR .box .listBtn {
	padding:10px;
	border-top:1px #CCC dashed;
	overflow:hidden;
}


/*////////////////////////////////////////////////////////////////////////////////*/



/*////////// .tagcrowd //////////*/

.play .tagcrowd { overflow:hidden;}
.play .tagcrowd p { margin-bottom:25px; padding-bottom:50px; width:100%; color:#CA0010; font-weight:bold; overflow:hidden;}
.play .tagcrowd p a { margin-right:15px; color:#CA0010; word-break:keep-all;}
.play .tagcrowd p a:hover { color:#F60;} 
.play .tagcrowd p .txt3 { font-size:45px; line-height:45px;}
.play .tagcrowd p .txt2 { font-size:30px; line-height:30px;}
.play .tagcrowd p .txt1 { font-size:15px; line-height:15px;}

/*////////////////////////////////////////////////////////////////////////////////*/