@charset "utf-8";
/* ----------------------------------------------
 *  お祝い報告
 ---------------------------------------------- */

#admin .celebrate_rpt .index table.list .td-category {
	width: 140px;
}
#admin .celebrate_rpt .index table.list .td-icon {
	width: 100px;
}
#admin .celebrate_rpt .index table.list .td-icon img {
	display: block;
	margin: 2px auto;
}
