@charset "utf-8";
/* ----------------------------------------------
 *  今日のありがとう
 ---------------------------------------------- */

#admin .thanks .index table.list .td-target {
	width: 200px;
	text-align: center;
}
#admin .thanks .index table.list .td-target img {
	display: block;
	margin: 4px auto;
}
